@use '../config' as *;

.l-ctaSection {
  background-color: $color-base-100;
  padding: 40px 0;

  @include bp($sp) {
    padding: 20px 0;
  }
}

.l-ctaSection__contents {
  display: flex;
  justify-content: center;
}

.l-ctaSection__item {
  width: calc(100% / 3);
  background: $color-white;
}
