// カラーの定義
$color-base-1000: #1d1917;
$color-base-800: #4a4241;
$color-base-600: #7a7574;
$color-base-400: #aba8a7;
$color-base-200: #dcdbdb;
$color-base-100: #f5f4f4;
$color-white: #ffffff;

// font
$font-primary: 'Noto Sans JP', sans-serif;
$font-secondary: 'Public Sans', sans-serif;
